<form ion-list padding [formGroup]="taskInput" (ngSubmit)="taskProcess()">
  <ion-item>
    <ion-label>Start Date</ion-label>
    <ion-datetime formControlName="startDate" displayFormat="MM/DD/YYYY" pickerFormat="MMMM DD YYYY"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label floating>Days</ion-label>
    <ion-input formControlName="days" type="number" min="1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Country Code</ion-label>
    <ion-input formControlName="countryCode" type="text" maxlength="2" (input)="onCountryCodeChange($event.target.value)"></ion-input>
    <div item-end>{{countryName}}</div>
  </ion-item>
  <ion-item></ion-item>
  <button ion-item outline color="primary">Show Calendar</button>
</form>